body {
  padding: 0;
  margin: 0;
  /* Credit to Rehan for the bitchin' font <3 */
  /* sorry Rehan */
  color: white;
  background: #2c2f33;
  font-size: 14px;
  font-family: Inter, sans-serif;
  box-sizing: border-box;
  transition: 1s opacity;
}

.bg-dark {
  background: #23272a !important;
}

h5 {
  font-weight: 600;
}

.font-weight-boldest {
  font-weight: 700;
}

.open_eatery,
.closed_eatery {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: #eee;
  height: 12px;
  width: 12px;
  margin: 0px;
  margin-bottom: 0px;
  margin-right: 0.5rem;
}

.open_eatery {
  background-color: #19b875;
  animation-name: blinking;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.closed_eatery {
  background-color: #dd3c18;
}

.open {
  color: #19b875;
  opacity: 0.9;
}

.closed {
  color: #dd3c18;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.content-container {
  padding-top: 10vh;
}

.psa {
  width: 100%;
  padding-bottom: 4vh;
}

.psa h2 {
  font-size: 2.8em;
  font-weight: 800;
  font-family: Zilla Slab, sans-serif;
}

.card {
  margin: 0 auto;
  background: #23272a;
  /* width: 20rem; */
  /* padding: 20px; */
  margin-bottom: 1rem !important;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.announcement {
  background: #23272a;
}

.border-bottom-custom {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.logo-type {
  font-weight: bold;
  font-size: 1.8em;
  font-weight: 800;
  font-family: Zilla Slab;
  color: #dd3c18 !important;
}

.card-header {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

.card-title {
  padding: 0;
  font-weight: 700;
  font-family: Zilla Slab, sans-serif;
  text-transform: capitalize;
}

.card-subtitle,
.card-text {
  font-weight: 500;
}

.tagline {
  font-size: 1em;
}

@media (max-width: 575.98px) {
  .psa h2 {
    font-size: 2em;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1350px) {
  .card-columns {
    column-count: 4;
  }
}

@media (min-width: 1600px) {
  .card-columns {
    column-count: 5;
  }
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
