@import url("https://rsms.me/inter/inter.css");
body {
  font-family: "Inter", sans-serif !important;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif !important;
  }
}

body {
  padding: 0;
  margin: 0;
  /* Credit to Rehan for the bitchin' font <3 */
  /* sorry Rehan */
  color: white;
  background: #2c2f33;
  font-size: 14px;
  line-height: 1.42857143;
  box-sizing: border-box;
  opacity: 1;
  transition: 1s opacity;
}

.bg-dark {
  background: #23272a !important;
}

h5 {
  font-weight: 600;
}

body.fade-out {
  opacity: 0;
  transition: none;
}

.font-weight-boldest {
  font-weight: 700;
}

.open_eatery,
.closed_eatery {
  display: inline-block;
  border-radius: 50%;
  width: 50%;
  background-color: #eee;
  height: 12px;
  width: 12px;
  margin: 0px;
  margin-bottom: 2px;
  margin-left: 0.5rem;
}

.open_eatery {
  background-color: #19b875;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }

  49% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.closed_eatery {
  background-color: #dd3c18;
}

.content-container {
  padding-top: 10vh;
}

.psa {
  width: 100%;
  padding-bottom: 4vh;
}

.psa h2 {
  font-size: 2.8em;
  font-weight: 800;
}

.card {
  margin: 0 auto;
  background: #23272a;
  width: 20rem;
  padding: 20px;
  margin-bottom: 1rem !important;
  border: 2px solid rgba(0, 0, 0, 0.1);
}

.announcement {
  background: #23272a;
}

.border-bottom-custom {
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

.logo-type {
  font-weight: bold;
  font-size: 1.4em;
  font-weight: 800;
  color: #dd3c18 !important;
}

.card-title {
  padding: 0;
  font-weight: 700;
}

.card-subtitle,
.card-text {
  font-weight: 500;
}

.tagline {
  font-size: 1em;
}

@media (max-width: 575.98px) {
  .psa h2 {
    font-size: 2em;
    line-height: 1.3em;
  }

  .card-title {
    padding-left: 0vw;
  }

  .card {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 768px) {
  .card-columns {
    column-count: 2;
  }
}

@media (min-width: 992px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1200px) {
  .card-columns {
    column-count: 3;
  }
}

@media (min-width: 1350px) {
  .card-columns {
    column-count: 4;
  }

  .card {
    height: 130px;
  }
}

@media (min-width: 1600px) {
  .card-columns {
    column-count: 5;
  }

  .card {
    height: 130px;
  }
}

@media (max-width: 767px) {
  .desktop-only {
    display: none;
  }
}

@media (min-width: 768px) {
  .mobile-only {
    display: none;
  }
}
