body {
    padding: 0;
    margin: 0;
    /* Credit to Rehan for the bitchin' font <3 */
    font-family: 'Lato', sans-serif;
    color: #313131;
    background: white;
    font-size: 14px;
    line-height: 1.42857143;
    box-sizing: border-box;
}

p {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

h2 {
    margin-top: 0px;
    padding-top: 20px;
    font-size: 30px;
    font-weight: 900;
}

.box, .open_eatery, .closed_eatery {
    background: rgba(51, 224, 124, 0.73);
    text-align: center;
    width: 100%;
    float: left;
    border-width: 1px;
    border-color: white;
    border-style: solid;
    border-radius: 4px;
}

.closed_eatery {
    background: rgb(247, 130, 118);
}

.psa {
    background: white;
    width: 100%;
}

@media (min-width: 720px) {
    .open_eatery, .closed_eatery {
        width: 50%;
    }
}

@media (min-width: 1300px) {
    .open_eatery, .closed_eatery {
        width: 25%;
    }
}
