{% extends "base.html" %}

{% block header %}
{% endblock %}

{% block content %}
<div class="hero-unit">
    <div class="container">
        <h1>Error: 500</h1>
        <p>Server error.</p>
        <p>Ouch.  So, your accessing our server right now has caused it to fail.  This is probably a mistake on our part.  Please try again soon, and we'd really appreciate it if you sent us a quick email telling us when you were trying to get on so we can fix this. 
            <br><img src="{% static 'imgs/505.gif' %}" alt="505 image"></img>
        </p>
    </div>
</div>
{% endblock %}
