{% load staticfiles %}
<html>
<head>
    {% block header %}
    {% endblock %}
    <link rel="shortcut icon" href="{% static 'imgs/icons/favicon.ico' %}" sizes="16x16 32x32 48x48 64x64">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">

    <!-- Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="shortcut icon" sizes="196x196" href="{% static 'imgs/icons/highres.png' %}">
    <link rel="shortcut icon" sizes="128x128" href="{% static 'imgs/icons/icon.png' %}">

    <!-- Apple -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="apple-touch-icon" href="{% static 'imgs/icons/touch-icon-iphone.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'imgs/icons/touch-icon-ipad.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'imgs/icons/touch-icon-iphone-retina.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'imgs/icons/touch-icon-ipad-retina.png' %}">
    
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44051024-1', 'cmueats.com');
      ga('send', 'pageview');
    </script>
</head>
<body>
    {% block content %}
    {% endblock %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
