{% load staticfiles %}
<!doctype html>
<html>
<head>
    <title>CMU Eats!</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="{% static 'imgs/favicon.ico' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="screen">
    
    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44051024-1', 'cmueats.com');
      ga('send', 'pageview');
    </script>
    <style>
    body {
      padding-top: 50px;
    }
    </style>
    {% block header %}
    {% endblock %}
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/">CMU Eats</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li {% if nav == "home" %} class="active" {% endif %}><a href="/home">Home</a></li>
            <li {% if nav == "what" %} class="active" {% endif %}><a href="/what/">WTF is this?</a></li>
            <li {% if nav == "about" %} class="active" {% endif %}><a href="/about/">About</a></li>
            <li {% if nav == "contact" %} class="active" {% endif %}><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
