{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
    <meta charset="utf-8">
    <title>Hungry? Eat at CMU!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
    body {
      padding-top: 50px;
    }
    </style>
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/">CMU Eats</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li><a href="/home/">Home</a></li>
            <li><a href="/what/">WTF is this?</a></li>
            <li><a href="/about/">About</a></li>
            <li class="active"><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
<div class="hero-unit">
    <div class="container">
        <h1>Contacting us</h1>
        <p>Is something broken?  Have a cool idea for us to implement?  Wanna say hi?  Email us at <a href="mailto:admin@cmueats.com">admin@cmueats.com</a> and we'll get right on it!</p>
    </div>
</div>
{% endblock %}
