{% extends "base.html" %}
{% load staticfiles %}
{% block header %}
{% endblock %}

{% block content %}
<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home/">CMU Eats</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/home/">Home</a></li>
            <!--<li><a href="/map/">Map</a></li>-->
            <li><a href="/what/">WTF is this?</a></li>
            <li><a href="/about/">About</a></li>
            <li><a href="/contact/">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
<div class="container">
{% if bestPick %}
  <div class="row recommendation">
      <div class="span4 offset4">
          <h3>Can't make up your mind?  CMU Eats thinks you should eat at </h3>
          <h1>{{ bestPick.name }}</h1>
          <p>{{ bestPick.location }}</p>
          <p>{{ bestPick.infoString }}</p>
      </div>
  </div>
{% else %}
  <div class="row recommendation">
      <div class="span4 offset4">
          <h3>Looks like nothing on campus is open :(</h3>
      </div>
  </div>

{% endif %}
{% for l in openLoc %}
{% if forloop.counter0|divisibleby:3 %}
    <div class="row">
{% endif %}
    <div class="col-lg-4 open_restaurant">
            <h2>{{ l.name }}</h2>
            <p>{{ l.location }}</p>
            <p>{{ l.infoString }}</p>
        </div>
{% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
    </div>
{% endif %}
{% endfor %}
{% for l in closedLoc %}
{% if forloop.counter0|divisibleby:3 %}
    <div class="row">
{% endif %}
        <div class="col-lg-4 closed_restaurant">
        <h2>{{ l.name }}</h2>
        <p>{{ l.location }}</p>
        <p>{{ l.infoString }}</p>
    </div>
{% if forloop.counter0|add:1|divisibleby:3 or forloop.last %}
    </div>
{% endif %}
{% endfor %}
</div>
{% endblock %}
