extends info
block nav
    +navbar("404");

block info-content
    h1 Error: 404
    p Page not found.
    p You look lost, like this small, furry creature. 
        br
        img(src="public/imgs/404.gif" alt="404 image")
    p I mean, this isn't a terribly complicated site.  Just go 
        a(href="/home/") here
        |  and you're all set.
