extends info
block nav
    +navbar("500");

block info-content
    h1 Error: 500
    p Server error.
    p Ouch.  So, your accessing our server right now has caused it to fail.  This is probably a mistake on our part.  Please try again soon, and we'd really appreciate it if you sent us a quick email telling us when you were trying to get on so we can fix this.
        br
        img(src="public/imgs/500.gif" alt="500 image")
