extends info
block nav
    +navbar("about");

block info-content
    h1 How did we make this?
    p CmuEats was made with loving care at 
        a(href='http://www.hackcmu.com/') Hack CMU 2013
        | , which was hosted by Carnegie Mellon University's 
        a(href="http://acmatcmu.org/") ACM
        |  chapter.  Our team consisted of 
        a(href="http://www.oscarbezi.com") Oscar Bezi
        | , Justin Gallagher, and Kirn Hans, all freshmen.  The front end is built with 
        a(href="http://getbootstrap.com/") Bootstrap
        | , and the back end is running on
        a(href="https://www.djangoproject.com/") Django
        | .  We are hosting on
        a(href="https://www.heroku.com/") Heroku
        | .
