extends info
block nav
    +navbar("contact")

block info-content
    h1 Contacting us
    p Is something broken?  Have a cool idea for us to implement?  Wanna say hi?  Email us at 
        a(href="mailto:admin@cmueats.com") admin@cmueats.com 
        |  and we'll get right on it!
