extends info
block nav
    +navbar("what");

block info-content
    h1 What is this?
    p This is where you can see when all of CMU's numerous eating places are open!  Green means open, red means closed.  It's. . . not terribly hard.
