p {
    margin-bottom: 0px;
    padding-bottom: 10px;
}

h2 {
    margin-top: 0px;
    padding-top: 20px;
}

.open_restaurant {
    background: #3dec3e;
    text-align: center;
    color: #111;
}

.closed_restaurant {
    background: #db221d;
    text-align: center;
}

.recommendation {
    background:#fff380;
    text-align: center;
}
